.board-container {
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.board-div {
  position: relative;
  display: inline-block;
}

.counters {
  display: block;
  padding: 0 10 0 0;
  width: 600px;
}

.controls {
  float: right;
  padding: 10px;
  display: block;
  position: relative;
  width: 400px;
}