.Cell0 {
  background: #ccc;
  position: absolute;
}

.Cell1 {
  position: absolute;
  background-image: url("https://i.imgur.com/6P7Nkdf.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}